<div class="row">
    <div class="col-xl-12">
        <div class="card b">
            <div class="card-header">
                <div class="btn-group float-right">
                    <button type="button" class="btn btn-labeled btn-green" (click)="open(content,null)"><span class='btn-label'> <i class ='fa fa-tasks'></i> </span>Agregar</button>
                </div>
            </div>
            <div class="card-body">
                <input type='text' class='form-control' placeholder='Escriba el nombre del ' (keyup)='search($event)' />
                <ngx-datatable #table class='bootstrap no-detail-row fullscreen' [columnMode]="'force'" [footerHeight]='50' [rowHeight]="'auto'" [limit]='10' [rows]='rows' [rowHeight]="'auto'" [externalPaging]='false'>
                    <ngx-datatable-column name='ID' prop='id' [width]="50"></ngx-datatable-column>
                    <ngx-datatable-column name='NOMBRE' prop='name'></ngx-datatable-column>
                    <ngx-datatable-column name='CUE' prop='cue'></ngx-datatable-column>
                    <ngx-datatable-column name='REGION' prop='region.name'>
                        <ng-template let-row="regin" let-value='value' ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name='SECTOR' prop='sector.name'></ngx-datatable-column>
                    <ngx-datatable-column name='AMBITO' prop='ambit.name'></ngx-datatable-column>
                    <ngx-datatable-column name='ACCIONES' sortable='false' prop='id' [width]='100'>
                        <ng-template let-row='provs' let-value='value' ngx-datatable-cell-template>
                            <button class='btn btn-sm btn-danger' (click)='confirm(pdelete,value)'>
                            <i class='fas fa-trash-alt'></i>
                            </button> &nbsp;
                            <button class='btn btn-sm btn-success' (click)='editbyid(content,value)'>
                            <i class='fas fa-pencil-alt'></i>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <form [formGroup]="formInst" (ngSubmit)="save($event, formInst.value)" class="form-validate mb-3" novalidate="" *ngIf="!loading">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Institucion</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body container">
            <div class="form-group">
                <input type="hidden" name="id" formControlName="id" />
                <div class="form-row">
                    <div class="col-md-12">
                        <div class="form-group with-focus" [ngClass]="{ 'has-danger': formInst.get('name').valid }">
                            <label for="name">Nombre</label>
                            <div class="input-group">
                                <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()" formControlName="name" placeholder="INGRESE INSTITUCION" aria-describedby="inputGroupPrepend2" required />
                            </div>
                            <div *ngIf="formInst.controls['name'].errors?.required && formInst.controls['name'].touched" class="text-danger form-control-feedback">
                                El nombre es requerido
                            </div>

                        </div>
                        <div class="form-group whith-focus" [ngClass]="{ 'has-danger': formInst.get('cue').valid }">
                            <label for="name">CUE</label>
                            <div class="input-group">
                                <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase()" formControlName="cue" placeholder="INGRESE CUE" aria-describedby="cue" />
                            </div>
                            <div *ngIf="formInst.controls['cue'].errors?.required && formInst.controls['cue'].touched" class="text-danger form-control-feedback">
                                El CUE es requerido
                            </div>
                        </div>

                        <!-- <div class="form-group whith-focus" [ngClass]="{ 'has-danger': formInst.get('province').valid }">
                            <label class=" col-form-label">Provincia</label>
                            <div class="input-group">

                                <select class="custom-select custom-select-sm" formControlName="province" (change)="loadDepartment($event.target.value);">
                                                    <option selected="">Seleccione</option>
                                                    <option *ngFor="let item of provinces" [value]="item.id">{{ item.name }}</option>
                                                </select>

                            </div>
                        </div> -->
                        <div class="form-group row mb " [ngClass]="{ 'has-danger': formInst.get('province').valid }">
                            <label class="mt">Provincia</label>
                            <div class="col-md-12">
                                <ngx-select [allowClear]="true" [items]="provinces" optionValueField="id" optionTextField="name" [disabled]="disabled" (select)="loadDepartment($event);" (removed)="removed($event)" placeholder="Seleccion Provincia">
                                </ngx-select>
                                <div class="text-danger" *ngIf="formInst.controls['province'].hasError('required') && (formInst.controls['province'].dirty || formInst.controls['province'].touched)">Este campo es requerido</div>
                            </div>
                        </div>
                        <div class="form-group row mb whith-focus">
                            <label class="col-form-label">Departamento</label>
                            <div class="col-md-12">
                                <ngx-select [allowClear]="true" [items]="departments" optionValueField="id" optionTextField="name" [disabled]="disabled" (select)="loadLocalities($event);" (removed)="removed($event)" placeholder="Seleccion Departamento">
                                </ngx-select>
                                <div class="text-danger" *ngIf="formInst.controls['department'].hasError('required') && (formInst.controls['department'].dirty || formInst.controls['department'].touched)">Este campo es requerido</div>
                            </div>
                        </div>
                        <div class="form-group row mb whith-focus">
                            <label class="col-form-label">Localidad</label>
                            <div class="col-md-12">
                                <ngx-select [allowClear]="true" [items]="localities" optionValueField="id" optionTextField="name" [disabled]="disabled" (removed)="removed($event)" placeholder="Seleccion Localidad">
                                </ngx-select>
                                <div class="text-danger" *ngIf="formInst.controls['locality'].hasError('required') && (formInst.controls['locality'].dirty || formInst.controls['locality'].touched)">Este campo es requerido</div>
                            </div>
                        </div>
                        <div class="form-group whith-focus">
                            <label class="col-form-label">Ambito</label>
                            <div class="input-group">

                                <select class="custom-select custom-select-sm" formControlName="ambit">
                                                    <option selected="" >Seleccione</option>
                                                    <option *ngFor="let item of ambits" [value]="item.id">{{ item.name }}</option>
                                                </select>

                            </div>
                        </div>
                        <div class="form-group whith-focus">
                            <label class="col-form-label">Sector</label>
                            <div class="input-group">

                                <select class="custom-select custom-select-sm" formControlName="sector">
                                                    <option selected="">Seleccione</option>
                                                    <option *ngFor="let item of sectors" [value]="item.id">{{ item.name }}</option>
                                                </select>

                            </div>
                        </div>
                        <div class="form-group whith-focus">
                            <label class="col-form-label">Region</label>
                            <div class="input-group">

                                <select class="custom-select custom-select-sm" formControlName="region">
                                                    <option selected="">Seleccione</option>
                                                    <option *ngFor="let item of regions" [value]="item.id">{{ item.name }}</option>
                                                </select>

                            </div>
                        </div>
                        <div class="form-group whith-focus">
                            <label class="col-form-label">Telefonos</label>
                            <div class="input-group" formArrayName="telefonos">
                                <input type="text" formControlName="0">
                            </div>
                        </div>
                        <fieldset>
                            <div class="form-group whith-focus">

                                <div class="mb-2">
                                    <label class="mt-lg">Telefonos</label>
                                    <tag-input theme='minimal' name="tagName2" [ngModel]="" arial-label="agregar un nuevo telefono" table-index placeholder="Inserte un nuevo telefono"></tag-input>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="mr-1 btn btn-labeled btn-info mb-2" data-dismiss="modal" (click)="modal.close('Close click')">
            <span class="btn-label"><i class="fa fa-times"></i>
            </span>Cerrar</button>
            <button type="submit" class="mr-1 btn btn-labeled btn-success mb-2"><span class="btn-label"><i class="fa fa-check"></i></span>Guardar</button>
        </div>
    </form>
</ng-template>
<ng-template #pdelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-titl">{{ title }} INSTITUCION</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form #frmReion="ngForm" class="form-horizontal">
        <div class="modal-body">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="institution.id" />
            <div class="form-group row">
                <label class="col-xl-2 col-form-label">Region</label>
                <div class="col-xl-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="institution" #name="ngModel" [(ngModel)]="institution.name" placeholder="institution" aria-describedby="inputGroupPrepend2" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="mr-1 btn btn-labeled btn-info mb-2" data-dismiss="modal" (click)="modal.close('Close click')">
        <span class="btn-label"><i class="fa fa-times"></i> </span>Cancelar
      </button>
            <button class="mr-1 btn btn-labeled btn-success mb-2" type="button" (click)="delete(pdelete, institution.id)">
        <span class="btn-label"><i class="fa fa-check"></i> </span>Confirmar
        eliminar
      </button>
        </div>
    </form>
</ng-template>