<div class="content-heading">
    <div>Administracion de Provincias
        <small>Lista de Provincias</small></div>
</div>

<div>
    <h3>
        Client-side Paging
        <small>
    </small>
    </h3>
    <ngx-datatable #table class="bootstrap no-detail-row" [rows]="rowsFilter" [columns]="[{name:'PROVINCIA', prop:'name'},{name:'createdAt'},{name:'updatedAt'}]" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">
    </ngx-datatable>
</div>


<div class="card card-default">
    <div class="card-header">
        <div class="card-title">Provicias NgDatetable</div>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-lg-4">
                <input type='text' class="form-control" placeholder='ingrese datos a buscar...' (keyup)='updateFilter($event)' />
            </div>
        </div>
        <ngx-datatable #table class='bootstrap no-detail-row' [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rowsFilter'>
            <!-- <ngx-datatable #table class='bootstrap no-detail-row' [columns]="columns" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [rows]='rows'>
           <ngx-datatable #table class='bootstrap no-detail-row' [columns]="[{name:'name'},{name:'createdAt'},{name:'createdAt'}]" [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [rows]='rows' [externalPaging]="true" [count]="page.totalElements"
            [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'> -->
            <!---->
            <ngx-datatable-column name="name" [width]="300"></ngx-datatable-column>
            <ngx-datatable-column name="createdAt"></ngx-datatable-column>
            <ngx-datatable-column name="updatedAt"></ngx-datatable-column>
        </ngx-datatable>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Provincia</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form #provinceFormp="ngForm">
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" name="id" #name="ngModel" [(ngModel)]="province.id">
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="name">Nombre</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="province.name" placeholder="INGRESE PROVINCIA" aria-describedby="inputGroupPrepend2" required>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('Close click')">Cerrar</button>
            <button type="button" class="btn btn-outline-dark" (click)="save(provinceFormp);">Guardar</button>
        </div>
    </form>
</ng-template>