<div class="card b">
    <tabset [justified]="true" class="ie-fix-flex">
        <tab heading="DATOS PERSONALES" id="personTab">
            <div class="card-header">
                <h4 class="m-0">Información Personal</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="form" class="form-validate mb-3" (ngSubmit)="save($event, form.value)" novalidate="novalidate">
                    <div formGroupName="person">
                        <input type="hidden" formControlName="id" />
                        <div class="form-row">
                            <div class="col-lg-4 mb-3">

                                <label for="lastname">Apellido</label>
                                <input type="text" class="form-control  with-focus" placeholder="Apellido" formControlName="lastname">
                                <div *ngIf="form.controls['person'].controls['lastname'].errors?.required && form.controls['person'].controls['lastname'].touched" class="text-danger form-control-feedback">
                                    El apellido es requerido
                                </div>
                            </div>
                            <div class="col-lg-4 mb-3" [ngClass]="displayFieldCss('person.firstname')">
                                <label for="firstname">Nombre</label>
                                <input type="text" class="form-control  with-focus" placeholder="Nombre" name="firstname" formControlName="firstname">
                                <div *ngIf="form.controls['person'].controls['firstname'].errors?.required && form.controls['person'].controls['firstname'].touched" class="text-danger form-control-feedback">
                                    El nombre es requerido
                                </div>
                                <!-- <div *ngIf="form.controls['firstname'].errors?.minlength && form.controls['firstname'].touched">el campo requiere por lo menos 5 caracteres</div> .get('firstname').errformors.required && (form.get('firstname').dirty || form.get('firstname').touched)-->
                            </div>
                            <div class="col-lg-4 mb-3">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    </div>
                                    <input type="text" class="form-control with-focus" placeholder="email" aria-describedby="inputGroupPrepend" formControlName="email">
                                    <div *ngIf="form.controls['person'].controls['email'].errors?.required && form.controls['person'].controls['email'].touched" class="text-danger form-control-feedback">
                                        El nombre es requerido
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-lg-3 mb-3">
                                <label for="validationServer03">Fecha de Nacimiento</label>
                                <input class="form-control" type="text" placeholder="Fecha de Nacimiento" name="birthday" #dp="bsDatepicker" bsDatepicker [bsValue]="birthday" [bsConfig]="bsConfig" formControlName="birthday" />
                                <!-- <input class="form-control" type="text" placeholder="Fecha de Nacimiento" name="birthday" [ngModel]="person.birthday" #dp="bsDatepicker" bsDatepicker [bsValue]="person.birthday" [bsConfig]="bsConfig" /> -->
                            </div>

                            <div class="col-lg-3 mb-3">
                                <label for="validationServer05">Documento</label>
                                <input class="form-control with-focus" type="text" placeholder="D.N.I." formControlName="identityDocument" />
                                <div class="invalid-feedback">Please provide a valid zip.</div>
                            </div>
                            <div class="col-lg-6 mb-3" [ngClass]="displayFieldCss('person.address')">
                                <label for="validationServer05">Dirección</label>
                                <input class="form-control with-focus" type="text" placeholder="Ingrese Dirección" formControlName="address" />
                                <div class="invalid-feedback">Please provide a valid zip.</div>
                            </div>
                            <input type="hidden" formControlName="id">
                        </div>
                        <div class="form-row">
                            <div class="col-lg-3 mb-3">
                                <label for="validationServer03">Provincia</label>
                                <ngx-select [allowClear]="true" [items]="provinces" optionValueField="id" optionTextField="name" (select)="loadDepartment($event);" (removed)="removed($event)" placeholder="Seleccion Provincia" formControlName="provinceId">
                                </ngx-select>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <label for="validationServer04">Departamento</label>
                                <ngx-select [allowClear]="true" [items]="departments" optionValueField="id" optionTextField="name" (select)="loadLocalities($event);" (removed)="removed($event)" placeholder="Seleccion Departamento" formControlName="departmentId">
                                </ngx-select>
                            </div>
                            <div class="col-lg-4 mb-4">
                                <label for="validationServer05">Localidad</label>
                                <ngx-select [allowClear]="true" [items]="localities" optionValueField="id" optionTextField="name" (removed)="removed($event)" placeholder="Seleccion Localidad" formControlName="localityId">
                                </ngx-select>
                            </div>
                            <div class="col-lg-2 mb-2">
                                <label for="validationServer04">Código Postal</label>
                                <input class="form-control with-focus" id="postalCode" type="text" placeholder="CODIGO POSTAL" formControlName="postalCode" />

                            </div>
                        </div>
                    </div>
                    <div class="" formArrayName="phones">
                        <div class="card-header">
                            <div class="float-right">
                                <div class="badge badge-info"></div>
                            </div>
                            <h4 class="m-0">Información de Contacto</h4>
                            <small class="text-muted">teléfonos de contacto</small>
                        </div>
                        <div class="">
                            <div class="" *ngFor="let contact of contactFormGroup.controls; let i = index;">
                                <div [formGroupName]="i" class="row">
                                    <input type="hidden" name="institutionId" formControlName="institutionId" />
                                    <input type="hidden" name="id" formControlName="id" />

                                    <div class="from-group col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <ngx-select [items]="phonetypes" optionValueField="id" optionTextField="name" placeholder="Seleccion Tipo" formControlName="phoneTypeId" [collapse]="false">
                                                </ngx-select>
                                            </div>
                                            <input class="form-control" (keypress)="keyPress($event)" formControlName="number" placeholder="Ingrese un numero" type="text">
                                            <div class="input-group-append">
                                                <button class="btn btn-secondary btn-sm" (click)="removeContact(i)"><em class="far fa-trash-alt"></em></button>
                                            </div>
                                        </div>
                                        <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['number'].touched && getContactsFormGroup(i).controls['number'].hasError('required')">
                                                El número de Teléfono es requerido! </span>
                                        <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['number'].touched && getContactsFormGroup(i).controls['number'].hasError('email')">
                                                Email is not valid! </span>
                                        <span class="text-danger" *ngIf="getContactsFormGroup(i).controls['number'].touched && getContactsFormGroup(i).controls['number'].hasError('pattern')">
                                                Teléfono no es valido! </span>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>

                        <div class="">
                            <button class="btn btn-secondary btn-sm m-1" type="button" (click)="addContact()">
                                <em class="fa-1x mr-2 fas fa-plus-square"></em>
                                 <span>Agregar número de teléfono</span>
                            </button>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                    
                    [disabled]="!instForm.valid" 
                    <button type="submit" class="mr-1 btn btn-labeled btn-success mb-2"><span class="btn-label"><i class="fa fa-save"></i></span>Guardar</button>
            </div> -->
                    <div class="modal-footer">
                        <fieldset>
                            <div class="d-flex right">
                                <button type="button" class="mr-1 btn btn-labeled btn-info mb-2" data-dismiss="modal" [routerLink]="['/person/employees']" routerLinkActive="router-link-active">
                        <span class="btn-label"><i class="fa fa-times"></i>
                         </span>Cancelar</button>
                                <button class="mr-1 btn btn-labeled btn-success mb-2" type="submit" [disabled]="!form.valid"> <span class="btn-label"><i class="fa fa-check"></i></span> Guardar </button>
                            </div>
                        </fieldset>
                    </div>

                </form>
            </div>
        </tab>
        <tab [disabled]="addperson" heading="INFORMACION DE CONTRATO">Legajo</tab>
        <tab [disabled]="addperson" heading="INFORMACION LABORAL">Area de Trabajo</tab>
    </tabset>
</div>
<!-- <pre> {{ form.value | json }} </pre> -->