<div class="content-heading">
    <div>Información del Empleado
        <small>Complete la Información requerida</small></div>
</div>
<div>
    <tabset [justified]="true">
        <tab heading="DATOS PERSONALES" id="personTab">

            <div class="row" *ngIf="!loading">
                <div class="col-xl-12">
                    <!-- START card-->
                    <div class="card b">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-xl-6">
                                    <h3> {{ accion }} DE PERSONA</h3>
                                </div>
                                <div class="col-xl-6">
                                    <div class="btn-group float-right">
                                        <button type="button" class="btn btn-labeled btn-secondary" (click)="persons()"><span class='btn-label'><i class="fa fa-arrow-left"></i></span>Regresar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form class="form-validate form-horizontal" #formAdd="ngForm" (ngSubmit)="save(formAdd)">
                                <input type="hidden" name="id" #name="ngModel" [(ngModel)]="person.id">
                                <input type="hidden" name="state" #name="ngModel" [(ngModel)]="person.state">
                                <div class="form-group row" [ngClass]="{'has-danger': (firstname.errors?.required || firstname.errors?.minlength )&& lastname.touched }">
                                    <label class="col-xl-2 col-form-label">Nombre</label>
                                    <div class="col-xl-10">
                                        <input class="form-control" type="text" placeholder="Nombre" minlength="3" name="lastname" #lastname="ngModel" [ngModel]="person.lastname" required/>
                                        <div class="form-control-feedback" *ngIf="lastname.errors?.required && lastname.touched">el campo es requerido</div>
                                        <div class="form-control-feedback" *ngIf="lastname.errors?.minlength && lastname.touched ">el campo requiere por lo menos 5 caracteres</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-2 col-form-label">Apellido</label>
                                    <div class="col-xl-10">
                                        <input class="form-control" type="text" placeholder="Apellido" minlength="3" name="firstname" #firstname="ngModel" [ngModel]="person.firstname" required/>
                                        <div *ngIf="firstname.errors?.required && firstname.touched">el campo es requerido</div>
                                        <div *ngIf="firstname.errors?.minlength && firstname.touched">el campo requiere por lo menos 5 caracteres</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-2 col-form-label">Documento</label>
                                    <div class="col-xl-10">
                                        <input class="form-control" type="text" placeholder="D.N.I." name="identityDocument" minlength="7" #identityDocument="ngModel" [ngModel]="person.identityDocument" required/>
                                        <div *ngIf="identityDocument.errors?.required && identityDocument.touched">el campo es requerido</div>
                                        <div *ngIf="identityDocument.errors?.minlength && identityDocument.touched">el campo requiere por lo menos 5 caracteres</div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-2 col-form-label">Fecha Nacimiento</label>
                                    <div class="col-xl-10">
                                        <input class="form-control" type="text" placeholder="Fecha de Nacimiento" name="birthday" [ngModel]="person.birthday" #dp="bsDatepicker" bsDatepicker [bsValue]="person.birthday" [bsConfig]="bsConfig" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-2 col-form-label">direccion</label>
                                    <div class="col-xl-10">
                                        <input class="form-control" type="text" placeholder="Direccion" name="address" [ngModel]="person.address" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-2 col-form-label">Email</label>
                                    <div class="col-xl-10">
                                        <input class="form-control" type="email" placeholder="Email" name="email" [ngModel]="person.email" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-2 col-form-label">Codigo Postal</label>
                                    <div class="col-xl-10">
                                        <input class="form-control" type="text" placeholder="Codigo Postal" name="postalCode" [ngModel]="person.postalCode" />
                                    </div>
                                </div>
                                <fieldset class="last-child">
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Povincia</label>
                                        <div class="col-md-10">
                                            <select class="custom-select custom-select-sm" name="province" [(ngModel)]="person.province" #province="ngModel" (change)="loadDepartment(person.province);">
                                                    <option selected="">Seleccione</option>
                                                    <option *ngFor="let item of provincs" [value]="item.id">{{ item.name }}</option>
                                              
                                </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="last-child">
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Departamento</label>
                                        <div class="col-md-10">
                                            <select class="custom-select custom-select-sm" name="department" name="department" [(ngModel)]="person.department" (change)="loadLocalities(person.department);">
                                                        <option selected="">Seleccione</option>
                                                        <option *ngFor="let item of departments" [value]="item.id">{{ item.name }}</option>
                                                    </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="last-child">
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Localidad</label>
                                        <div class="col-md-10">

                                            <select class="custom-select custom-select-sm" name="locality" name="locality" [(ngModel)]="person.locality">
                                                            <option selected="">Seleccione</option>
                                                            <option *ngFor="let item of localities" [value]="item.id">{{ item.name }}</option>
                                                        </select>

                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="last-child">
                                    <div class="form-group row">
                                        <label class="col-md-2 col-form-label">Puesto</label>
                                        <div class="col-md-10">

                                            <select class="custom-select custom-select-sm" name="person.job" name="job" [(ngModel)]="person.job">
                                                                <option selected="">Seleccione</option>
                                                                <option *ngFor="let item of positions" [value]="item.id">{{ item.name }}</option>
                                                            </select>

                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <div class="d-flex justify-content-center">
                                        <button class="mr-1 btn btn-labeled btn-success mb-2" type="submit" [disabled]="!formAdd.valid">
                                <span class="btn-label"><i class="fa fa-check"></i>
                                    </span>Confirmar Guardar</button>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    <!-- END card-->
                </div>

            </div>
        </tab>
        <tab *ngIf="!addperson" heading="INFORMACION DE CONTRATO">Legajo</tab>
        <tab *ngIf="!addperson" heading="INFORMACION LABORAL">Area de Trabajo</tab>
    </tabset>
</div>