<div class="content-heading">
    <div>Administracion de Roles
        <small>Administre roles del sistema</small></div>
</div>
<div class="card card-default">
    <div class="card-header">LISTA DE ROLES</div>
    <!-- START table-responsive-->

    <div class="card-body">


        <div class="col-md-12">
            <table class="table table-bordered table-hover table-responsive" id="table-ext-1">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>FECHA ALTA</th>
                        <th>MODIFICADO</th>
                        <th>
                            <button type="button" class="btn btn-sm btn-outline-primary" (click)="open(content,0)" data-toggle="tooltip" data-placement="top" title="AÑADIR UN NUEVO ROL"><i class="fa fa-plus-square" ></i></button>

                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles; let i = index ">
                        <td>{{ role.id }}</td>
                        <td>{{ role.name }}</td>
                        <td>{{ role.createdAt | date : 'dd-MM-yyyy' }}</td>
                        <td>{{ role.updatedAt | date : 'dd-MM-yyyy' }}</td>
                        <td>
                            <!-- <button [routerLink]="['/config/role', role.id]" type="button" class="fa fa-edit btn btn-outline-success btn-sm"> </button> -->
                            <!-- <a (click)="edit(role)" class="btn btn-sm btn-primary">
                                    <i class="fa fa-edit"></i>
                                </a> -->
                            <a (click)="deleteRole(role.id)" class="btn btn-sm btn-outline-danger">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a (click)="editbyid(content,role.id)" class="btn btn-sm btn-outline-success">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>

        <!-- END table-responsive-->
    </div>
</div>

<!-- <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre> -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Rol</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <form #roleFormp="ngForm">
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" name="id" #name="ngModel" [(ngModel)]="role.id">
                <div class="form-row">

                    <div class="col-md-12">
                        <label for="name">Nombre</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="role.name" placeholder="Rol" aria-describedby="inputGroupPrepend2" required>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modal.close('Close click')">Cerrar</button>
            <button type="button" class="btn btn-outline-dark" (click)="save(roleFormp);">Guardar</button>
        </div>
    </form>
</ng-template>

<!-- 
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{closeResult}}</pre> -->