<div class="content-heading">
    <div>Administracion de Localidades
        <small>Lista de Localidades {{ department.name }}</small></div>
</div>
<!-- START table-responsive-->
<div class="row" *ngIf="rows">
    <div class="col-xl-12">
        <div class="card b">
            <div class="card-header">

                <div class="btn-group float-right">
                    <h3>LOCALIDADES DE {{ department.name }} </h3>
                    <button type="button" class="btn btn-labeled btn-info" (click)="departaments()"><span class='btn-label'><i class="fa fa-arrow-left"></i></span>Regresar</button>
                    <button type="button" class="btn btn-labeled btn-purple" (click)="open(content,0)"><span class='btn-label'> <i class ='fa fa-tasks'></i> </span>Agregar</button>
                </div>
            </div>
            <div class="card-body">
                <input type='text' class='form-control' placeholder='Escriba el nombre del ' (keyup)='search($event)' />
                <ngx-datatable #table class='bootstrap no-detail-row fullscreen' [columnMode]="'force'" [footerHeight]='50' [rowHeight]="'auto'" [limit]='10' [rows]='localities' [rowHeight]="'auto'" [externalPaging]='false'>
                    <ngx-datatable-column name='ID' prop='id' [width]="50"></ngx-datatable-column>
                    <ngx-datatable-column name='NOMBRE' prop='name'></ngx-datatable-column>
                    <ngx-datatable-column name='ACCIONES' sortable='false' prop='id' [width]='100'>
                        <ng-template let-row='provs' let-value='value' ngx-datatable-cell-template>
                            <button class='btn btn-sm btn-danger' (click)='confirm(pdelete,value)'>
                    <i class='fas fa-trash-alt'></i>
                    </button> &nbsp;
                            <button class='btn btn-sm btn-success' (click)='editbyid(content,value)'>
                    <i class='fas fa-pencil-alt'></i>
                    </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>

            </div>
        </div>
        <div class="card card-default" style="display: none">
            <div class="card-header primary" *ngIf="department">Localidades de {{ department.name }}</div>
            <div class="card-body">
                <button type="button" class="btn btn-sm btn-primary" (click)="departaments();" data-toggle="tooltip" data-placement="top" title="REGRESAR"><i class="fa fa-arrow-circle-left" ></i>  Regresar</button>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>NOMBRE&nbsp;&nbsp;&nbsp;</th>
                                <th>FECHA ALTA</th>
                                <th>MODIFICADO</th>
                                <th class="right">
                                    <button type="button" class="btn btn-sm btn-outline-primary" (click)="open(content,0)" data-toggle="tooltip" data-placement="top" title="AÑADIR MAS LOCALIDADES"><i class="fa fa-plus-square" ></i></button>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let locality of localities; let i = index ">
                                <td>{{ locality.id }}</td>
                                <td>{{ locality.name }}</td>
                                <td>{{ locality.createdAt | date : 'dd-MM-yyyy' }}</td>
                                <td>{{ locality.updatedAt | date : 'dd-MM-yyyy' }}</td>
                                <td>
                                    <a (click)="editbyid(content,locality.id)" class="btn btn-sm btn-outline-success" data-toggle="tooltip" data-placement="top" title="EDITAR">
                                        <i class="fa fa-edit"></i>
                                    </a>

                                    <a (click)="delete(locality.id)" class="btn btn-sm btn-outline-danger" data-toggle="tooltip" data-placement="top" title="ELIMINAR">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ title }} LOCALIDAD</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form #frmLocality="ngForm">
        <div class="modal-body">
            <div class="form-group">
                <input type="hidden" name="id" #name="ngModel" [(ngModel)]="locality.id">
                <input type="hidden" name="department" #name="ngModel" [(ngModel)]="locality.department">
                <div class="form-row">
                    <div class="col-md-12">
                        <label for="name">Nombre</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="locality.name" placeholder="Locadlidad" aria-describedby="locality" required>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-info" data-dismiss="modal" (click)="modal.close('Close click')">Cerrar</button>
            <button type="button" class="btn btn-primary" (click)="save(frmLocality);">Guardar</button>
        </div>
    </form>
</ng-template>
<ng-template #pdelete let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-titl"> {{ title }} LOCALIDAD</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('cancel')">
            <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <form #frmLocalidad="ngForm" class="form-horizontal">
        <div class="modal-body">
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="locality.id">
            <div class="form-group row">
                <label class="col-xl-2 col-form-label">Nombre</label>
                <div class="col-xl-10">
                    <div class="input-group">
                        <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="locality.name" placeholder="nombre" aria-describedby="inputGroupPrepend2" readonly="readonly">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="mr-1 btn btn-labeled btn-info mb-2" data-dismiss="modal" (click)="modal.close('Close click')">
            <span class="btn-label"><i class="fa fa-times"></i>
            </span>Cancelar</button>
            <button class="mr-1 btn btn-labeled btn-success mb-2" type="button" (click)="delete(pdelete, locality.id)">
            <span class="btn-label"><i class="fa fa-check"></i>
            </span>Confirmar eliminar</button>
        </div>
    </form>
</ng-template>